.footer {
  display: block;

  border-top: solid 1px var(--header-color-border);
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 72px;

  gap: 24px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__logo-container {
  display: inline-flex;
  align-items: center;

  inline-size: fit-content;

  margin-block: 12px;

  line-height: 1;
  text-decoration: none;
  color: inherit;

  gap: 6px;
}

.footer__logo {
  display: block;

  width: 28px;
  height: 28px;
}

.footer__brand {
  font-size: 20px;
  font-weight: 600;
}

.footer__icon {
  display: block;

  width: 16px;
  height: 16px;

  color: var(--color-text-primary);
}

.footer__links {
  margin-top: 12px;
  display: flex;
}

.button.footer__link {
  color: inherit;
  display: flex;
  padding: 8px;
}

.footer__pages-title {
  color: var(--color-text-tertiary);
  margin-block: 12px;

  font-size: 14px;
}

.button.footer__pages-link {
  display: flex;
  inline-size: fit-content;

  margin-inline: -11px;

  color: var(--accent-text-primary);

  justify-content: start;

  font-size: 12px;
  margin-bottom: 8px;
}

.footer__copyright {
  margin-top: 12px;

  color: var(--color-text-tertiary);
  font-size: 12px;
  font-weight: 400;
}

.footer__selectors {
  display: inline-flex;
  margin-top: 12px;
  gap: 20px;
}

.footer__selector-icon {
  width: 14px;
  height: 14px;
}

@media (max-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    padding: 36px;
  }
}