.technologies {
  padding-inline: var(--inline-spacing-default);
  margin-block: var(--block-spacing-default);
}

.technologies__divider {
  margin-bottom: 24px;
}

.technologies__groups {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.technologies__group {
  min-width: 0;
  padding: 8px;

  list-style: none;

  background-color: var(--solid-background-tertiary);
  border-radius: 8px;
}

.technologies__group-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.technologies__group-title {
  margin: 0;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  text-align: center;

  color: var(--color-text-primary);
}

.technologies__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: none;
}

.technologies__card {
  width: 100%;

  flex-direction: row;
  align-items: center;
  gap: 8px;

  padding: 0;

  border-radius: 4px;

  background-color: var(--accent-muted);
  color: var(--accent-text-primary);

  overflow: hidden;
}

.technologies__card:hover {
  background-color: var(--accent-default);
  color: var(--text-on-accent-primary);
}

.technologies__card-link {
  padding: 8px 16px 8px 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  height: 100%;

  color: inherit;
  text-decoration: none;
}

.technologies__card-icon {
  display: block;
  flex: 0 0 auto;

  width: 24px;
  height: 24px;

  color: inherit;

  user-select: none;
  pointer-events: none;
}

.technologies__card-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  color: inherit;
}

@media (max-width: 1200px) {
  .technologies__groups {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .technologies {
    padding: 24px;
  }

  .technologies__groups {
    grid-template-columns: 1fr;
  }
}