.sidebar-nav {
  width: 326px;

  border-right: 1px solid var(--header-color-border);
}

.sidebar-nav__header {
  padding: 16px 40px;

  gap: 16px;

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--header-color-border);
}

.sidebar-nav__list {
  padding: 16px 40px;
  list-style: none;
}

.sidebar-nav__link {
  display: flex;
  align-items: center;

  border-radius: var(--control-corner-radius);
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: var(--control-faster-duration) linear background-color;
}

.sidebar-nav__link:hover {
  background-color: var(--subtle-fill-secondary);
}