.service-section {
  padding: var(--inline-spacing-default);
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.service-card {
  flex-direction: column;
  gap: 8px;
}

.service-card__icon {
  color: var(--accent-default)
}

.service-card__name {
  font-size: 18px;
  font-weight: 600;

  color: var(--color-text-primary);
}

.service-card__description {
  font-size: 14px;
  font-weight: 400;

  color: var(--color-text-tertiary);
}

.service-cards__divider {
  margin-bottom: 24px;
}

@media (max-width: 1280px) {
  .service-cards {
    grid-template-columns: auto;
  }
}
