

/*
@media (max-width: 1012px) {
  .workspace__content-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "article";
    row-gap: 24px;
  }

  .workspace__sidebar {
    position: static;

    padding-left: 0;
    padding-bottom: 24px;
    border-left: 0;
    border-bottom: 1px solid var(--header-color-border, #d8dee4);
  }
}
*/