.work-experience {
  flex-direction: column;

  padding-inline: var(--inline-spacing-default);
  margin-block: var(--block-spacing-default);
}

.work-experience__divider {
  margin-bottom: 24px;
}

.work-experience__content {
  width: 100%;
}

.work-experience__list {
  width: 100%;

  margin: 0;
  padding: 0;

  list-style: none;
}

.work-experience__item {
  gap: 20px;
}

@media (max-width: 1280px) {
  .work-experience__content {
    display: flex;
  }
}